<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main Page - All Reports</title>
</head>
<body>
    {% load socialaccount %}
    {% load auth_extras %}
    <a href="{% provider_login_url 'google' %}?next=/">Login with Google</a>

    {% if user.is_authenticated %}
    <p>You are signed in as {{user.username}}</p>
    <a href="{% url 'logout'%}">Logout?</a>
    {% endif %}

    {% if request.user|has_group:"site_admin" %}
    <p>You are an admin, {{user.username}}!</p>
    {% endif %}

    <h1>Report List</h1>
    {% if reports %}
        {% for report in reports %}
            <li>{{ report.title }} - {{ report.user.username }} - {{ report.text }}</li>
        {% endfor %}
    {% else %}
                <p>No reports have been made.</p>
    {% endif %}

    <!-- Pagination or Scroll -->
    <!-- Add pagination or scrolling functionality here later -->

</body>
</html>
